* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  margin: 0;
  min-height: 100vh;
 
}

.header {
  padding: 20px;
  color: #ffffff;
}

.high-scores {
  display: inline-block;
  color: blueviolet;
  background-color: white;
  border: #ffffff;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}

.timer {
  color: black;
  display: inline-flex;
  /* padding-top: 5px; */
  margin-right: 25px;
  float: right;
  font-size: 20px;
}

.timer-count {
  font-size: 25 px;
  padding-top: 4%;
  padding-left: 10px;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}

.start-button {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 43%;  
  background-color: blueviolet;
  color: white;
}

.large-font {
  font-size: 40px;
  text-align:center;
  position: absolute;
  padding-top: 50px;
  padding-left: 41%;
}

.welcome {
  width: 100%;
  font-size: 20px;
  text-align:center;
  position: absolute;
  padding-left: 220px;
  padding-right: 220px;
  top: 230px;
  left: 50px;
  right: 17%;
}

#highScorePage {
  width: 100%;
  font-size: 20px;
  text-align:center;
  position: absolute;
  padding-top: 100px;
  padding-left: 600px;
  right: 17%;
}

#hsTitle {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  position: absolute;
  left: 67%;
  text-decoration: underline;
}

#sortedScores {
  position: absolute;
  padding-top: 300px;
  left: 53%;
  color: rgb(249, 23, 41);
  font-weight: bolder;
  font-size: 30px;  
}

#form {
  display: block;
}

.ques {
  position: absolute;
  padding-top: 100px;
  left: 40%;
  right: 40%;
  font-weight: bolder;
  font-size: 30px;  
}

.questionForm {
  display: block;
  position: absolute;
  /* padding-top: 180px; */
  top: 40%;
 left: 40%;
 
}

.choiceBtn:hover {
  background-color: blue;
  color: white;
  height: 40px;
  width: 200px;
  margin: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

}

.choiceBtn {
  background-color: blueviolet;
  color: white;
  height: 40px;
  width: 200px;
  padding-top: 10px;
  margin: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.submit {
  position: absolute;
  top: 75%;
  left: 40%;
  right: 48%;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  height: 70px;
  width: 200px;
  font-size: 30px;
}

.submitInitials {
  position: absolute;
  top: 75%;
  left: 45%;
  right: 48%;
  padding: 10px;
  font-weight: bolder;
  background-color: blueviolet;
  color: white;
  height: 70px;
  width: 200px;
  font-size: 30px;
  font-weight: bolder;
}

#finalScore {
  display: block;
  position: absolute;
  top: 330px;
  left: 42%;
  right: 25%;
  font-size: 30px;
  font-weight: bolder;
}

#enterInitials {
  display: block;
  position: absolute;
  top: 400px;
  left: 40%;
  right: 25%;
  font-size: 30px;
  font-weight: bolder;
}

#allDone {
  display: block;
  position: absolute;
  padding-top: 180px;
  left: 47%;
  right: 25%;
  font-size: 30px;
  font-weight: bolder;
}

#yourScore {
  display: block;
  position: absolute;
  top: 300px;
  left: 46%;
  right: 25%;
  font-size: 30px;
  font-weight: bolder;
}

#playAgain {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 33%;  
  background-color: blueviolet;
  color: white;
}

#playAgainHS {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 20%;  
  background-color: blueviolet;
  color: white;
}

#resetGame {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 53%;  
  background-color: blueviolet;
  color: white;
}

#resetGameHS{
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 20%;  
  background-color: blueviolet;
  color: white;
}



